
@font-face {
    font-family: 'primary-font';
    src: url('../../public/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'secondary-font';
    src: url('../../public/fonts/PlayfairDisplay-Regular.ttf');
}


@import "./modules/home/home";