@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables" ;
$alpha: #cda45e;
$beta: #1a1814;
$dark: #6c757d;
$hoverColor: rgba(205, 164, 94, 0.8);  
$white : #fff;          
$colors: (
    "alpha": $alpha , 
    "beta": $beta ,
    "daark": $dark,
    "white": $white,
);
$theme-colors: map-merge($colors , $theme-colors);

$spacer: 0.5rem;
@for $i from 1 through 50 {
$spacers: map-merge($spacers, ($i : $spacer * $i) );
};

$base-font-size: 0.5rem;

@for $i from 1 through 100 {
    $font-sizes: map-merge($font-sizes, ($i : $base-font-size * $i));
}

$radius :50px;
$inputRadius : 0.25rem;
