#gallery {
  position: relative !important;
  height: max-content;
  width: 100%;
  z-index: 0 !important;
  div {
    div {
      h2 {
        font-family: "secondary-font", sans-serif;
      }
      .galleryParagraph {
        font-family: "secondary-font", sans-serif;
        position: relative;
      }
      .galleryParagraph::before {
        content: "";
        position: absolute;
        left: 4rem;
        top: 50%;
        transform: translateY(-50%);
        width: 5rem;
        height: 2px;
        background-color: $alpha;
      }
    }
    div{
        div{
            width: 100%;
            div{
                width: calc(100% / 4);
                overflow: hidden;
                img{
                    width: 100%;
                    transition: 0.5s;
                }
                img:hover{
                    scale: 110%;
                    cursor: pointer;
                }
            }
        }
    }
  }
}
@media (max-width:900px){
    #gallery{
        div{
            div{
                div{
                    width: 100% !important;
                }
            }
        }
    }
}
