h1,h2,h3,h4,h5,h6 , p{
    margin: 0;
    padding: 0;
    
}
*{
    z-index: 5 !important;
    font-family: 'primary-font';
}
header{
    position: relative;
    height: 100%;
    width: 100%;
    nav{
        background-color:rgba(0, 0, 0, 0.5);;
        color: #fff;
        margin-top: 2vh;
        margin-bottom: 2vh;
        a{
            h1{
                font-family: 'secondary-font';
                font-weight: bold;
                transition: 0.5s;
            }
            h1:hover{
                scale: 110%;
            }
        }
        .navLinks{
            a , div>p , div>p>i{
                transition: 0.5s;
            }
            a:hover , div>p:hover{
                color: $hoverColor !important;
                cursor: pointer;
            }
        }
        button{
            background-color: transparent;
            border-radius: $radius;
            border: 1px solid $alpha;
            color: white;
            padding: 1vh 2vw;
            transition: 0.5s;
        }
        button:hover{
            background-color: $alpha;
            color: black;
        }
    }

}
header::before{
    content: " ";
	position: absolute;
	left: 0;
	top: 0;
    width: 100vw;   
    height: 100vh;
    background: url('../../../../../public/images/hero-bg.jpg');
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	filter: sepia(10%) brightness(50%);
	z-index: 0 !important;
}
#menu , #close , #open{
    display: none;
}

@media (max-width: 600px){
    header{
        #open , #close{
            display: block;
        }
        #close{
            position: absolute;
            top: 15px;
            right: 15px;
        }
        nav{
            .navLinks{
                position: fixed;
                left: 50%;
                top: -200%;
                transform: translate(-50% , -50%);
                border-radius: $inputRadius;
                background-color: white;
                transition: 0.5s;
                width: 90%;
                height: 90vh;
                z-index: 40000 !important;
                a , div>p , span{
                    color: black !important;
                }
            }
            a{
                h1{
                    font-size: 1.5rem;
                }
            }
            button{
                padding: 0.5vh 2vw;
                font-size: 1rem;
            }
        }
    }
}